# Compiled class file
*.class

# Log file
*.log
.uuid

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
target/*.jar
*.war
*.nar
*.ear
target/*.zip
*.tar.gz
*.rar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
*.iml
.factorypath
/fsjt-client/unpackage
**/target
**/target/**

rebel.xml
