[client]
#port=3369
default-character-set=utf8mb4
#socket=/usr/local/mysql/data/mysql.sock


[mysqld]
# 开启 binlog 查询语句 show variables like 'log_bin';
log-bin=mysql-bin
# 选择 ROW 模式 查询语句 show variables like 'binlog_format'
binlog-format=ROW
# 配置 MySQL replaction 需要定义，不要和 canal 的 slaveId 重复
server_id=1


#basedir=/usr/local/mysql
#datadir=/usr/local/mysql/data
#user=mysql
#socket=/usr/local/mysql/data/mysql.sock
#tmpdir=/usr/local/mysql/tmp
#lower_case_table_names=1
# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0

#最大连接数
max_connections = 400
#最大错误连接数
max_connect_errors = 1000

#TIMESTAMP如果没有显示声明NOT NULL，允许NULL值
explicit_defaults_for_timestamp = true

sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
#sql_mode='NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

#数据库默认字符集,主流字符集支持一些特殊表情符号（特殊表情符占用4个字节）
character-set-server = utf8mb4

#数据库字符集对应一些排序等规则，注意要和character-set-server对应
collation-server = utf8mb4_general_ci

#设置client连接mysql时的字符集,防止乱码
init_connect='SET NAMES utf8mb4'

#是否对sql语句大小写敏感，1表示不敏感
lower_case_table_names = 1


############################日  志 设置##########################################
#数据库错误日志文件
log_error = error.log

#慢查询sql日志设置
slow_query_log = 1
slow_query_log_file = slow.log
#检查未使用到索引的sql
#log_queries_not_using_indexes = 1
#针对log_queries_not_using_indexes开启后，记录慢sql的频次、每分钟记录的条数
#log_throttle_queries_not_using_indexes = 5
#作为从库时生效,从库复制中如何有慢sql也将被记录
#log_slow_slave_statements = 1
#慢查询执行的秒数，必须达到此值可被记录
long_query_time = 5
#检索的行数必须达到此值才可被记为慢查询
min_examined_row_limit = 20

#mysql binlog日志文件保存的过期时间，过期后自动删除
expire_logs_days = 5

[mysqld_safe]
#log-error=/usr/local/mysql/log/error.log
#pid-file=/usr/local/mysql/data/mysql.pid
#
# include all files from the config directory
#
#!includedir /etc/my.cnf.d
